@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

/********************************* UNIVERSAL STYLES **********************************/
:root{
    --it-teal: #19BDC7;
    --it-light-grey: #909394;
    --it-dark-grey: #3C4048;
}

/********************************* NAVBAR **********************************/

#navbar-section{
    background-color: white !important;
    border-bottom: 1px solid #f1f1f1;
}

.navbar-links .navbar-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--it-light-grey);
}

/********************************* BANNER **********************************/

@media (min-width: 992px) {
    #banner-section {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

@media (max-width: 991px) {
    #banner-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

#banner-section h1{
    font-family: 'Yeseva One', serif;
    font-size: 45px;
    color: var(--it-dark-grey) !important;
    line-height: 1.4 !important;
}

#banner-section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--it-light-grey);
    line-height: 1.7 !important;
}

#banner-section .tutor-button{
    background-color: var(--it-teal);
    border-color: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#banner-section .tutee-button{
    background-color: transparent;
    border-color: var(--it-teal);
    color: var(--it-teal);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/********************************* WHO WE ARE, WHAT WE DO **********************************/

@media (min-width: 992px) {
    #who-we-are-section, #what-we-do-section {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

@media (max-width: 991px) {
    #who-we-are-section, #what-we-do-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

#who-we-are-section h1, #what-we-do-section h1{
    font-family: 'Yeseva One', serif;
    font-size: 35px;
    color: var(--it-dark-grey) !important;
    line-height: 1.4 !important;
}

#who-we-are-section p, #what-we-do-section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--it-light-grey);
    line-height: 1.7 !important;
}

/********************************* CALL TO ACTION **********************************/

@media (min-width: 992px) {
    #call-to-action-section {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

@media (max-width: 991px) {
    #call-to-action-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

#call-to-action-section h1{
    font-family: 'Yeseva One', serif;
    font-size: 40px;
    color: var(--it-dark-grey) !important;
    line-height: 1.4 !important;
}

#call-to-action-section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--it-light-grey);
    line-height: 1.7 !important;
}

#call-to-action-section .tutor-button{
    background-color: var(--it-teal);
    border-color: transparent;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#call-to-action-section .tutee-button{
    background-color: transparent;
    border-color: var(--it-teal);
    color: var(--it-teal);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

@media (min-width: 992px) {
    #call-to-action-section .call-to-action{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    #call-to-action-section .tutor-section{
        border-right: 1px solid #dfdfdf;
    }
}

#call-to-action-section .horizontal-divider{
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #dfdfdf;
}